body{
	background-color:#EEEEEE;
}
.login{
	background-color:#B5D991;
}

.button{
	background-color:#5BB75B;
	box-shadow: 0 0px 0 rgba(0, 0, 0, 0.5) inset;
	border: 1px solid #5BB75B;
}
.button:hover, .button:focus {
    background-color: #51A351;
    color: #FFFFFF;
}
a{
	color:#5BB75B;
}
a:hover{
	color: #51A351;
}
.cuerpo{
	background-color:#B5D991;
}
.escondida{
	display: none;
}
.espacioSuperior{
	padding-top: 10px;
}

.headLogin{
	padding-top: 20%;
}

.button.disabled, .button[disabled]{
	background: #5BB75B;
}
.button.disabled:hover, .button[disabled]:hover{
	background: none repeat scroll 0 0 #51A351;
}
