body{
	background: url(../img/registro.jpg) no-repeat top center white;
}
.login{
	background: url(../img/bg.png) repeat left top transparent;
	box-shadow: 0 -5px 15px #808080;
	margin-top: 55%
	
}

.button{
	background-color:#5BB75B;
	box-shadow: 0 0px 0 rgba(0, 0, 0, 0.5) inset;
	border: 1px solid #5BB75B;
}
.button:hover, .button:focus {
    background-color: #51A351;
    color: #FFFFFF;
}
a{
	color:#5BB75B;
}
a:hover{
	color: #51A351;
}
.cuerpo {
	background: url(../img/bg.png) repeat left top transparent;
	box-shadow: 0 -5px 15px #808080;
	margin-top: 15%;
}
.cuerpo .cuerpo{
	background: none;
	box-shadow: none;
	margin-top: 0;
}
.escondida{
	display: none;
}
.espacioSuperior{
	padding-top: 10px;
}
.espacioInferior{
	padding-bottom: 10px;
}



.button.disabled, .button[disabled]{
	background: #5BB75B;
}
.button.disabled:hover, .button[disabled]:hover{
	background: none repeat scroll 0 0 #51A351;
}