body{
	background: url("../img/registro.jpg") no-repeat scroll center top white;
}
.row {
	margin-top: 50px;
}
.row .login{
	margin-top: 0;
}

.button{
	background-color:#714d99;
	box-shadow: 0 0px 0 rgba(0, 0, 0, 0.5) inset;
	border: 1px solid #714d99;
}
.button:hover, .button:focus {
    background-color: #857399;
    color: #FFFFFF;
}
a{
	color:#5BB75B;
}
a:hover{
	color: #51A351;
}

.ui-datepicker a {
	color: #7A6D89;
}

.cuerpo, .login {
	background: url("../img/bg.png") repeat center center transparent;
	box-shadow: 5px 5px 10px gray;
	margin-top: 80px;
}
.cuerpo .cuerpo{
	background: none;
	box-shadow: none;
	margin-top: inherit;
}
.escondida{
	display: none;
}
.espacioSuperior{
	padding-top: 10px;
}
.espacioInferior{
	padding-bottom: 10px;
}

.headLogin{
	padding-top: 0%;
}

.button.disabled, .button[disabled]{
	background: #5BB75B;
}
.button.disabled:hover, .button[disabled]:hover{
	background: none repeat scroll 0 0 #51A351;
}
ding-bottom: 10px;
}

.headLogin{
	padding-top: 10%;
}

.button.disabled, .button[disabled]{
	background: #5BB75B;
}
.button.disabled:hover, .button[disabled]:hover{
	background: none repeat scroll 0 0 #51A351;
}

/*   posgrado    */

	.posgrado {
	background: url("../img/registro_pv.jpg") no-repeat scroll center top white;
}

	.posgrado .button{
		background-color:#714d99;
		box-shadow: 0 0px 0 rgba(0, 0, 0, 0.5) inset;
		border: 1px solid #714d99;
	}
	.posgrado .button:hover, .button:focus {
	    background-color: #857399;
	    color: #FFFFFF;
	}

/*   diplomado   */

	.diplomado {
		background: url("../img/registro_dv.jpg") no-repeat scroll center top white;
	}

	.diplomado .button{
		background-color:#714d99;
		box-shadow: 0 0px 0 rgba(0, 0, 0, 0.5) inset;
		border: 1px solid #714d99;
	}
	.diplomado .button:hover, .button:focus {
	    background-color: #857399;
	    color: #FFFFFF;
	}

